/* Reset some default browser styles */
body, h1, h2, h3, p, ul, ol, li, b {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('html/style/assets/background.jpg');
    background-color: #b9b7b7;
    background-repeat: repeat;
}
.card1{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

/* Content container */
.content {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

/* Main titles */
h1 {
    font-size: 56px;
    color: #015dbe;
    padding: 20px;
    margin: 20px;
}

h2 {
    font-size: 20px;
    color: #fff;
}
h3 {
    font-size: 20px;
    color: #fff;
    margin: 20px;
}


b {
    display: inline-block;
    background-color: #044891;
    color: #fff;
    padding: 12px 30px;
    margin: 20px auto;
    width: 150px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 16px;
}

b:hover {
    background-color: #0056b3;
}


/* Cards container */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Cards */
.card-container .class4 {
    background-color: #000203ba;
    color: #fff;
    width: 30%; /* Adjust the width as needed */
    height: 200px;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

/* Audio container */
.audio {
    text-align: center;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
}

/* Audio player */
audio#audioPlayer {
    width: 100%;
}

/* Audio controls */
.audio button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

.audio button:hover {
    background-color: #0056b3;
}
