/* Reset some default browser styles */
body, h1, h2, h3, p, ul, ol, li, b {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url('assets/background.jpg') repeat;
    background-color: #b9b7b7;
}

/* Content container */
.head {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

/* Main titles */
h1 {
    font-size: 36px;
    color: #015dbe;
    padding: 10px;
    margin: 10px 0;
}

h2 {
    font-size: 18px;
    color: #fff;
}

/* Form styles */
form {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: left;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Audio container */
.audio {
    text-align: center;
    background: #000;
    padding: 20px;
    border-radius: 10px;
}

/* Audio player */
audio#meuAudio {
    width: 100%;
}

/* Audio controls */
.audio button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.pontos {
    font-size: 18px;
    font-weight: bold;
    color: #0077B6; /* Cor do texto (você pode ajustar essa cor) */
    text-align: center; /* Alinhar o texto ao centro, se desejar */
    margin-top: 10px; /* Espaço superior */
  }
.audio button:hover {
    background-color: #0056b3;
}

/* Add styles for other elements as needed */
